@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Novatek Pharmaceuticals is a company with a renowned team leading clinical investigations focused on development of immunomodulatory drugs related to cancers and infectious diseases. Empowering naturally derived immunotherapy that is effective across various cancer types, with the goal of effectively boosting the immune system and T cell population in patients while reducing the adverse effects of disease or cytotoxic therapies.</a>.</p>
</div>
